<% @page_title = "この サイト について" %>
<h1><%= @page_title %></h1>
<p> Morning Glory は、 1999 年 に 結成 さ れ た 草野球 チーム です。 毎週 土曜日 の 早朝 に 練習 を する こと から、 Morning Glory（ 朝顔） という チーム 名 になり まし た。 おも な 活動 拠点 は、 ○ ○ 河川敷 グラウンド です。 </p>
